@page "/login"
@using VoddalmBlazor.Models
@using BlazorWasmAuthentication.Services
@using VoddalmBlazor.Services.Base
@using BlazorWasmAuthentication.Handlers;
@using Blazored.LocalStorage;

@inject IAuthenticationService AuthenticationService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<!-- Author Felix Malm + kim -->

<div class="login-container">
    <EditForm Model="model" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="email">Email Address</label>
            <InputText class="form-control" @bind-Value="model.Email" />
            <ValidationMessage For="@(() => model.Email)" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText class="form-control" type="password" @bind-Value="model.Password" />
            <ValidationMessage For="@(() => model.Password)" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
    </EditForm>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="error mt-3">@errorMessage</div>
    }

   
</div>



@code {
    LoginDTO model = new LoginDTO();
    DateTime? tokenExpirationTime = null;
    Timer _timer;
    string errorMessage = "";

    async Task HandleLogin()
    {
        errorMessage = ""; 

        try
        {
            var response = await AuthenticationService.AuthenticateAsync(model);

            if (response)
            {
                var jwtToken = await LocalStorage.GetItemAsStringAsync("accessToken");



                _timer = new Timer(state => InvokeAsync(StateHasChanged), null, 1000, 1000);
                NavigationManager.NavigateTo("/");
            }
            else
            {
                errorMessage = "Invalid email or password. Please try again.";
            }
        }
        catch (ApiException aex)
        {
            errorMessage = "An error occurred during authentication. Please try again later.";
            
        }
    }


    string GetTimeRemaining(DateTime expirationTime)
    {
        var timeSpan = expirationTime - DateTime.Now;
        return $"{timeSpan.Hours} hours, {timeSpan.Minutes} minutes, {timeSpan.Seconds} seconds";
    }
}
