.register-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

    .form-group label {
        flex: 0 0 30%; /* Adjust label width as needed */
    }

    .form-group input,
    .form-group select {
        flex: 1; /* Let input/select take remaining space */
         /* Add spacing between label and input/select */
        
    }
    .form-group select {
        
        
        width: calc(70% - 10px - px); /* Adjust width to match label width and spacing */
    }

.error {
    color: red;
}
