<!-- AddHouseConfirmation.razor -->
@page "/AddHouseConfirmationTemp"

<h3>House Added Successfully!</h3>

<p>Your new house has been added successfully.</p>

<p><a href="/AddHouse">Add Another House</a></p>

<p><a href="/Housings">List All Houses</a></p>

