.associated-housings {
    margin-top: 5rem;
}

.housing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.housing-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.housing-info {
    padding: 15px;
}

    .housing-info h5 {
        margin-bottom: 10px;
    }

    .housing-info p {
        margin: 0;
    }

/* Set fixed aspect ratio for the images */
.housing-item .card-img-top {
    width: 100%; /* Ensure image takes full width */
    height: 0; /* Set height to 0 */
    padding-top: 60%; /* Set aspect ratio (adjust as needed) */
    object-fit: cover; /* Ensure the image covers the entire space */
}

.broker-info {
    display: flex;
    align-items: center;
}

.broker-text {
    flex: 1;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .broker-text ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .broker-text li {
        margin-bottom: 5px;
    }

        .broker-text li strong {
            margin-right: 5px;
        }

.broker-details {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.broker-image {
    max-width: 400px;
    max-height: 450px;
}
.housing-image {
    max-width: fit-content;
    max-height: 200px; /* Adjust height as needed */
}

